@model ClassAjax.Models.Member

<h4>檢查帳號是否存在</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HW2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">姓名:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div id="divCheckName" class="alert alert-warning mt-3"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">電子郵件:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label">年紀:</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="送出" class="btn btn-primary" />
            </div>
            <div id="div1" class="alert alert-info mt-3"></div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        const inpName = document.querySelector('#Name');
        const divCheckName = document.querySelector('#divCheckName');
        inpName.addEventListener('blur', async function() {
            const url = `@Url.Content("~/classapi/checkAccount")?name=${this.value}`
            const isNameLegaled = await fetch(url);
            divCheckName.textContent = (await isNameLegaled.text());
        });


    </script>
}
