@model ClassAjax.Models.Member

@{
    ViewData["Title"] = "HW3";
}

<h1>作業 3</h1>
<h4>會員註冊</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HW3" id="userForm">
            <div class="form-group">
                <label asp-for="Name" class="control-label">姓名</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div id="divCheckName" class="alert alert-warning mt-3"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">電子郵件</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">密碼</label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <label for="PasswordCheck" class="control-label">密碼確認</label>
                <input name="PasswordCheck" id="PasswordCheck" class="form-control" />
            </div>
            <div id="divCheckPwd" class="alert alert-warning mt-3" hidden>必須與密碼相同</div>

            <div class="form-group">
                <label asp-for="Age" class="control-label">年紀</label>
                <input asp-for="Age" class="form-control" />
            </div>

            <div class="form-group">
                <label for="avatar" class="form-label">頭像</label>
                <input name="avatar" id="avatar" type="file" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="送出" class="btn btn-primary" id="send" />
            </div>
        </form>
        <div id="divResult" class="alert alert-info mt-3"></div>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        // 檢查帳號是否合法
        const inpName = document.querySelector('#Name');
        const inpEmail = document.querySelector('#Email');
        const inpAge = document.querySelector('#Age');
        const divCheckName = document.querySelector('#divCheckName');
        inpName.addEventListener('blur', async () => {
            const url = `@Url.Content("~/classApi/checkAccount")?name=${inpName.value}`
            const isNameLegaled = await fetch(url);
            divCheckName.textContent = (await isNameLegaled.text());
        });


        // 檢查密碼是否相同
        const inpPwd = document.querySelector('#Password');
        const inpPwdC = document.querySelector('#PasswordCheck');
        const alertPwd = document.querySelector('#divCheckPwd');

        inpPwdC.addEventListener('blur', () =>{
            if (inpPwd.value !== inpPwdC.value) {
                alertPwd.removeAttribute('hidden');
                return;
            }
            alertPwd.setAttribute('hidden','');
        });


        // 送出並註冊
        const btnSend = document.querySelector('#send');
        btnSend.addEventListener('click', async (evt) => {
            evt.preventDefault();

            const myForm = document.querySelector('#userForm');
            const formData = new FormData(myForm);

            // 註冊到資料庫
            const url = '@Url.Content("~/classApi/register/")';
            const response = await fetch(url, {
                method: 'POST',
                body: formData
            });

            const data = await response.text();
            divResult.textContent = data;

        })

    </script>
}
