@{
    ViewData["Title"] = "AJAX Homework";
}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4" id="container">
    </div>
</div>
@section Scripts {
    <script src="~/js/travel.js"></script>

    <script>
        const container = document.querySelector('#container');

        // 畫面處理
        const sections = spots.CommonFormat.Section;

        const cards = sections.map(section => {
            const { stitle, xbody, address, file } = section;
            return (`
            <div class="col">
               <div class="card p-1 m-2 h-100" style="width: 18rem;">
                    <img src="${ file.img.text || file.img[0].text}" class="card-img-top" alt="${file.img["@@description"] || file.img['@@description']}" width=300 height=200>
                    <div class="card-body">
                        <h4 class="card-title"><strong>${stitle}</strong></h4>
                        <p class="card-text">${xbody.length>150?xbody.substring(0,150).concat('...'):xbody}</p>
                    </div>
                </div>
            </div>`
            );
        });

        container.innerHTML = cards.join('');


    </script>
}